.container{
    scroll-snap-type: y mandatory;
    margin: auto;
    max-width: 900px;
  
  }
  .sticky {
    position: sticky;
    position: -webkit-sticky;
    /* height: 30em; */
    top:0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media all and (max-width: 700px) {
  .content {
    width: 100%;
  }
}

  .extra,
  .wrapper {
    margin: auto;
    
    max-width: 800px;
    display: flex;
    flex-flow: row nowrap;
    scroll-snap-align: start;
  }
  .content{
      width:50%;
  }
  /* #wrapper {

    height: 800px;
  } */
  .extra {
    /* height: 100px; */
  }
 div {
    padding: 1rem;
}

img{
    width: 100%;
    
}

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media all and (max-width: 700px) {
    .content {
      width: 100%;
      
    font-size: 20px;
    }
    .wrapper {
      background-color: white;
      flex-direction:column;
      
    }

  }
  .content.sticky {
    
    background-color: #fcfcfc;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }